html, body {
    height: 100%;
    width: 100%;
}
body{
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
    background-color: #021d40;
    padding:1% 0 0 0;
    font-size:1.2em;
    
}
.navbar-brand {
    min-height: 55px;
    padding: 0 15px 5px;
} 
.navbar-default .navbar-nav li a {
    color:white;
    font-weight:bold;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #e21748;
    display:block;
}

.navbar-default .navbar-nav li a:hover {
    color:#e21748;
    
}
.navbar-default .navbar-nav li a:focus{
    color:#e21748 !important;
}
.titres{
    font-weight: bold;
    color:#e21748;
}
#home{
    background: #021d40 no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
    /* margin-top:  -1px !important;; */
    /*  */
}
.landing-text {
    display:table-cell;
    text-align: center;
    vertical-align: middle;
    color: white;
    
}

.landing-text h1{
    font-size: 500%;
    font-weight: 700;
    color:white;
}
.contact {
    text-align: center;
    font-weight: bold;
    
}
.padding {
    padding:80px 0;
}
.padding img{
    width:100%;
}

#fixed{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(1,1,68,1) 35%, rgba(0,212,255,1) 100%) center center fixed; 
    /* background: url(images/background-2.png) no-repeat center center fixed; */
    display: table;
    height: 2%;
    position: relative;
    width: 100%;
    background-size: cover;
}
.mainPage{
    color:#e21748;
}

footer{
    width: 100%;
    background-color: #021d40;
    padding:5%;
    color: white;
}
.fa{
    padding: 15px;
    font-size: 30px;
    color: white;
}
.fa:hover{
    color:#e21748;
    text-decoration: none;
}

@media (max-width:768px){
    .landing-text h1{
        font-size: 200%;
    }
    .landing-text h3{
        text-align: center;
    }
    .fa{
        font-size: 20px;
        padding: 10px;
    }
    .icon{
        padding-top: 5%;
        max-width: 100px;
        }
}

.custom-shape-divider-bottom-1616888157 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1616888157 svg {
    position: relative;
    display: block;
    width: calc(149% + 1.3px);
    height: 114px;
}

.custom-shape-divider-bottom-1616888157 .shape-fill {
    fill: #FFFFFF;
}

.custom-shape-divider-top-1617050734 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1617050734 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 200px;
}

.custom-shape-divider-top-1617050734 .shape-fill {
    fill: #e21748;
}